#wrap {position: relative;}
header {position: absolute; top: 0; left: 0;}
header:hover {background-color: #fff;}
header .headerin h1 a {background: url(../img/mac_logo_b.png) no-repeat center center;}
header .headerin .gnb>li>a {color: #000;}
header .headerin .util li a {background-image: url(../img/icon_search_b.png);}
header .headerin .util li:nth-child(2) a {background-image: url(../img/icon_mypage_b.png);}
header .headerin .util li:nth-child(3) a {background-image: url(../img/icon_shopping_b.png);}/* header ë */
#mainVisual {width: 100%; height: 850px;}
#mainVisual .mv_bg {width: 100%; height: 100%; background: url(../img/list_mv_lip.png) no-repeat center center / cover; position: relative;}
#mainVisual .mv_bg .prod_selc {
    width: 261px;
    position: absolute; 
    top: 323px; left: 50%;
    transform: translateX(-50%);
    margin-left: 38px; padding: 7px 10px;
    font-size: 1.25rem; font-weight: 300;
    letter-spacing: -0.02em;
    border: none;
    border-bottom: 1px solid #000;
    cursor: pointer;
    background: transparent url(../img/icon_down.png) no-repeat 237px center;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand {display: none;}
#mainVisual .mv_bg .prod_selc:focus {outline: none;}
#mainVisual .mv_bg .prod_selc option {font-size: 1.25rem; font-weight: 300;}
#list {max-width: 1600px; margin: 100px auto 120px auto; position: relative;}
#list h2 {text-align: center; font-size: 2.38rem; font-weight: 800;}
#list .tab {display: flex; justify-content: center; margin: 40px 0 70px 0;}
#list .tab li {margin-left: 30px;}
#list .tab li:first-child {margin-left: 0px;}
#list .tab li a {color: #aaa; font-weight: 500; letter-spacing: -0.02em;}
#list .tab li.on a {color: #000; font-weight: 500; letter-spacing: -0.02em;}
#list .tab li a:hover {color: #000;}
#list .order_selc {
    width: 80px;
    background: url(../img/icon_down.png) no-repeat right center;
    font-size: 0.88rem;
    border: none;
    cursor: pointer;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 80px; right: 0;
}
#list .order_selc:focus {outline: none;}
#list .order_selc option {font-size: 0.88rem;}
#list .prod_list {display: flex; flex-flow: wrap; justify-content: space-between;}
#list .prod_list li {margin: 80px 0 0;}
#list .prod_list li:nth-child(1), #list .prod_list li:nth-child(2), #list .prod_list li:nth-child(3), #list .prod_list li:nth-child(4) {margin: 0;}
#list .prod_list li:last-child {margin: 80px 810px 0 0;}
#list .prod_list li > a .bg {width: 385px; height: 385px;
background-color: #efefef; position: relative;}
#list .prod_list li > a .bg .new {
    width: 51px; height: 22px; 
    border: 1px solid #555;
    position: absolute;
    top: 15px; left: 15px;
}
#list .prod_list li > a .bg .new p {font-size: 0.88rem; text-align: center; line-height: 22px; color: #555;}
#list .prod_list li > a .bg .best {
    width: 51px; height: 22px; 
    border: 1px solid #555;
    position: absolute;
    top: 15px; left: 15px;
}
#list .prod_list li > a .bg .best p {font-size: 0.88rem; text-align: center; line-height: 22px; color: #555;}
#list .prod_list li > a .bg img {width: 100%; height: auto;}
#list .prod_list li > a .key {font-size: 0.88rem; color: #aaa; text-align: center; margin: 15px 0 12px 0;}
#list .prod_list li > a h3 {text-align: center; letter-spacing: -0.02em;}
#list .prod_list li > a .price {font-weight: 600; letter-spacing: -0.02em; text-align: center; margin-top: 30px;}